<section class="chat-window d-flex flex-column">
  <header class="chat-header d-flex just items-center">
    <app-user-avatar-placeholder
      [ngClass]="{ 'ml-2': localStorageService.isMobile() }"
      [source]="storeSelectedChat.selectedChat()?.imagePath ?? ''"
    ></app-user-avatar-placeholder>

    @if(accessToken && storeSelectedChat.selectedChat()) {
    <div class="chat-title">
      <ng-container *ngTemplateOutlet="chatNameTemplate"></ng-container>
    </div>
    }
  </header>

  @if(storeSelectedChat.selectedChat() && accessToken) {
  <div class="message-content full-height overflow-auto" #chatContainer>
    <div
      #messageItem
      *ngFor="
        let message of storeSelectedChat.selectedChat()?.messages;
        let i = index;
        trackBy: trackByFn
      "
      [ngClass]="{
        'message-row': true,
        own: isMessageLoading() ? i % 2 === 0 : !message.isBot
      }"
      class="p-1"
    >
      <div class="message-wrapper d-flex flex-column">
        <div
          class="message-bubble"
          [class.loading]="isMessageLoading()"
          (contextmenu)="onRightClick($event, message)"
        >
          <span>{{ message?.text }}</span>
        </div>
        <div class="message-time" [class.loading]="isMessageLoading()">
          {{
            message.updatedAt > message.createdAt
              ? "Edit: " + (message.updatedAt | date : "medium")
              : (message.createdAt | date : "medium")
          }}
        </div>
      </div>
    </div>
  </div>

  @if(storeSelectedChat.selectedChat()){
  <footer class="message-input-wrapper d-flex p-1 mt-auto">
    <input
      [formControl]="messageControl"
      type="text"
      class="message-input"
      placeholder="Type your message"
      (keyup.enter)="onKeyDownEvent()"
    />
    <button
      [disabled]="messageControl.invalid"
      class="send-btn cursor-pointer"
      (click)="sendMessage(messageFC!)"
    >
      <span>&#10148;</span>
    </button>
  </footer>
  } } @else {
  <div class="empty-data d-flex justify-center items-center">
    {{ accessToken ? "Select a chat" : "Login to start chatting" }}
  </div>
  }
</section>

<ng-template #chatNameTemplate>
  <div class="chat-name d-flex fw-bold">
    <div class="mr-05">{{ storeSelectedChat.selectedChat()?.firstName }}</div>
    <div>{{ storeSelectedChat.selectedChat()?.lastName }}</div>
  </div>
</ng-template>

<app-context-menu
  [contextMenuVisible]="contextMenuVisible"
  [contextMenuPosition]="contextMenuPosition"
  (editChat)="editChatContextMenu()"
  (deleteChat)="deleteChatContextMenu()"
></app-context-menu>

<app-chat-modal
  *ngIf="modalVisible"
  [isForMessage]="true"
  [mode]="modalMode"
  [messageData]="localSelectedChatMessage"
  (confirm)="handleConfirm($event)"
  (cancel)="modalVisible = false"
></app-chat-modal>
