<section class="chat-window d-flex flex-column">
  <header class="chat-header d-flex just items-center">
    <app-user-avatar-placeholder
      [source]="selectedChat?.imagePath"
    ></app-user-avatar-placeholder>

    @if(accessToken) {
    <div class="chat-title">
      {{
        selectedChat
          ? selectedChat?.firstName + " " + selectedChat?.lastName
          : "Select a chat"
      }}
    </div>

    }
  </header>

  @if(selectedChat || accessToken) {
  <div class="messages d-flex flex-column">
    <div
      *ngFor="let message of selectedChat?.messages"
      [ngClass]="{ 'message-row': true, own: message?.isOwn }"
    >
      <div class="message-bubble">
        <span> {{ message?.content }}</span>
      </div>
      <div class="message-time">
        {{ message?.time }}
      </div>
    </div>
  </div>

  @if(selectedChat){
  <footer class="message-input-wrapper d-flex p-1">
    <input
      [formControl]="messageControl"
      type="text"
      class="message-input"
      placeholder="Type your message"
      (keyup.enter)="onKeyDownEvent($event)"
    />
    <button
      [disabled]="messageControl.invalid"
      class="send-btn cursor-pointer"
      (click)="sendMessage()"
    >
      <span>&#10148;</span>
    </button>
  </footer>
  } } @else {
  <div class="empty-data d-flex justify-center">
    {{ accessToken ? "Select a chat" : "Login to start chatting" }}
  </div>
  }
</section>
