@use "../../assets/styles/variables" as *;

.chat-window {
  width: 100%;
  height: 100svh;
  background-color: $bg-message-content;
}

.chat-header {
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $header-color;
  padding: 1.15rem;
  border-bottom: 1px solid #ddd;

  .chat-title {
    margin-left: 10px;
  }
}

.message-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  scrollbar-width: thin;
  background-color: $bg-message-content;
}

.message-row {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  &.own {
    align-items: flex-end;
  }

  &:not(.own) {
    align-items: flex-start;
    .message-time {
      text-align: start;
      margin-right: auto;
    }
    .message-bubble {
      margin-right: auto;
    }
  }

  .message-wrapper {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .message-bubble.loading {
      width: auto;
      height: auto;
    }

    .message-bubble {
      background-color: $message-conversation-partner;
      color: $secondary;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      word-wrap: break-word;
      max-width: fit-content;
    }

    .message-time {
      font-size: 0.7rem;
      margin-top: 0.25rem;
      color: $secondary;
      display: inline-block;
    }
  }

  &.own .message-wrapper {
    align-items: flex-end;

    .message-bubble {
      background-color: $message-color;
      color: $light;
    }

    .message-time {
      text-align: right;
      align-self: flex-end;
    }
  }
}

.message-input-wrapper {
  flex-shrink: 1;
  border-top: 1px solid #ddd;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  background: white;
}

.message-input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.send-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0 1rem;
  border-radius: 4px;
  font-size: 1.2rem;
}

.send-btn:disabled {
  background-color: $secondary !important;
}
.message-bubble.loading {
  width: 100px;
  height: 40px;
}

.message-time.loading {
  width: 75px;
  height: 15px;
}
