<section class="chat-window d-flex flex-column">
  <header class="chat-header d-flex just items-center">
    <app-user-avatar-placeholder
      [source]="selectedChat.imagePath"
    ></app-user-avatar-placeholder>

    <div class="chat-title">{{ selectedChat.name }}</div>
  </header>
  <div class="messages d-flex flex-column">
    <div
      *ngFor="let message of selectedChat.messages"
      [ngClass]="{ 'message-row': true, own: message.isOwn }"
    >
      <div class="message-bubble">
        <span> {{ message.content }}</span>
      </div>
      <div class="message-time">
        {{ message.time }}
      </div>
    </div>
  </div>

  <footer class="message-input-wrapper d-flex p-1">
    <input type="text" class="message-input" placeholder="Type your message" />
    <button class="send-btn cursor-pointer" (click)="sendMessage()">
      <span>&#10148;</span>
    </button>
  </footer>
</section>
