@use "../../assets/styles/variables" as *;

.sidebar {
  background-color: $white;
  border-right: 1px solid #ddd;
  height: 100%;
}

.header-wrapper {
  padding-top: 1rem;
  background-color: $header-color;
}

.header-wrapper::after{
  content: "";
  width: 100%;
  height: 1px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #ddd;
  z-index: 1000;
}

.login-btn {
  border: 1px solid $secondary;
  color: #007bff;
  padding: 0.25rem 0.75rem;
  border-radius: $border-radius;
  background: none;
  cursor: pointer;
}

.login-btn:hover {
  border-color: $primary;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: $border-radius;
}

.search-input:focus {
  border-color: $primary;
  outline: none;
}

hr {
  margin: 0;
}

.new-chat-wrapper {
  margin: 10 1px;
  .new-chat-button {
    border-radius: $border-radius;
    background-color: $primary;

    height: 36px;
    width: 100%;

    span {
      color: $white;
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.chat-list {
  scrollbar-width: thin;
  height: calc(100svh - 300px);
}

.chat-list-title {
  color: $primary;
}

.chat-item.active-chat {
  background-color: $bg-secondary;
}

.chat-item:hover {
  background-color: $light;
}

.chat-date {
  min-width: 70px;
}

.chat-last-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}
