<aside class="sidebar d-flex flex-column">
  <div class="header-wrapper d-flex flex-column">
    <div class="sidebar-header d-flex justify-between items-center mb-1">
      <app-user-avatar-placeholder
        [source]="photoUrl()"
      ></app-user-avatar-placeholder>

      <div class="login-button">
        <div
          id="google-login-button"
          class="login-button btn btn-primary"
          (click)="signInWithGoogle(!!accessToken())"
        >
          {{ accessToken() ? "Log out with Google" : "Log in with Google" }}
        </div>
      </div>
    </div>

    @if (accessToken()) {
    <input
      type="text"
      class="search-input mb-1"
      [formControl]="searchControl"
      placeholder="Search or start new chat"
      (selectionchange)="onChangeSearchControl()"
    />
    }
  </div>

  <hr class="full-width" />

  @if (accessToken()) {
  <div class="new-chat-wrapper p-1">
    <button
      (click)="showCreateModal()"
      class="new-chat-button d-flex justify-center items-center"
    >
      <span>+</span>
    </button>
  </div>
  }

  <div class="chat-list flex-grow overflow-auto">
    <div class="chat-list-title">
      <h3>Chats</h3>
    </div>

    @if (!accessToken() || !filteredChats?.length) {
    <ng-container *ngTemplateOutlet="emptyData"></ng-container>
    } @else {
    <div *ngFor="let chat of filteredChats; trackBy: trackByFn">
      <div
        class="chat-item d-flex items-center gap-05 border-bottom p-1 cursor-pointer"
        (click)="onSelectChat(chat)"
        (contextmenu)="onRightClick($event, chat)"
      >
        <app-user-avatar-placeholder
          [source]="chat.imagePath"
        ></app-user-avatar-placeholder>
        <div class="chat-info flex-grow">
          <div class="chat-name fw-bold">
            {{ chat.firstName }} {{ chat.lastName }}
          </div>
          <div class="chat-last-message text-gray fs-085">
            {{ chat?.lastMessage?.message }}
          </div>
        </div>
        <div class="chat-date text-gray fs-075">
          {{ chat?.lastMessage?.date | date : "MMM, d, y" }}
        </div>
      </div>
    </div>
    }
  </div>
</aside>

<ng-template #emptyData>
  <div class="empty-data d-flex justify-center">
    {{ accessToken() ? "You have no chats" : "You are not logged in" }}
  </div>
</ng-template>

<app-chat-modal
  *ngIf="modalVisible"
  [mode]="modalMode"
  [chat]="selectedChat"
  (confirm)="handleConfirm($event)"
  (cancel)="modalVisible = false"
></app-chat-modal>

<ul
  class="custom-menu"
  [class.visible]="contextMenuVisible"
  [style.left.px]="contextMenuPosition.x"
  [style.top.px]="contextMenuPosition.y"
>
  <li (click)="editChat()">Редагувати</li>
  <li (click)="deleteChat()">Видалити</li>
</ul>
