@use "../../assets/styles/variables" as *;

.sidebar {
  width: 500px;
  height: 100vh;
  background-color: $white;
  border-right: 1px solid #ddd;
}

.header-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  background-color: $header-color;
}

.login-btn {
  border: 1px solid $secondary;
  color: #007bff;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  background: none;
  cursor: pointer;
}

.login-btn:hover {
  border-color: $primary;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-input:focus {
  border-color: $primary;
  outline: none;
}

hr {
  margin: 0;
}

.chat-list-title {
  color: $primary;
  margin-bottom: 2rem;

  padding-left: 1rem;
  padding-top: 1rem;
}

.chat-item:hover {
  background-color: $light;
}

.text-gray {
  color: $light-gray;
}

.fw-bold {
  font-weight: bold;
}

.fs-085 {
  font-size: 0.85rem;
}

.fs-075 {
  font-size: 0.75rem;
}
