<aside
  class="sidebar d-flex flex-column justify-between"
  [ngStyle]="
    localStorageService.isMobile()
      ? { width: '350' + 'px' }
      : { width: dynamicWidth + 'px' }
  "
>
  <div class="header-wrapper d-flex flex-column">
    <div
      class="sidebar-header d-flex justify-between items-center mb-1 pl-1 pr-1"
    >
      <div
        [ngClass]="{ 'ml-2': localStorageService.isMobile() }"
        class="chank-header d-flex items-center"
      >
        <div class="d-flex flex-column items-center justify-center mr-2">
          <app-user-avatar-placeholder
            [source]="photoUrl()"
          ></app-user-avatar-placeholder>

          <div class="user-name">
            <span>{{ userName() }}</span>
          </div>
        </div>

        <app-toggle-auto-bot
          *ngIf="accessToken()"
          (onToggleAutoBot)="toggleAutoBot($event)"
          [autoBotStatus]="autoBotStatusStoreService.statusAutoBotValue"
        ></app-toggle-auto-bot>
      </div>

      <app-google-login-button
        [isLoggedIn]="!!accessToken()"
        (click)="handleLoginAndLogout(!!accessToken())"
      ></app-google-login-button>
    </div>

    @if (accessToken()) {
    <div class="pl-1 pr-1">
      <input
        type="text"
        class="search-input mb-1 full-width"
        [formControl]="searchControl"
        placeholder="Search or start new chat"
      />
    </div>

    }
  </div>

  @if (accessToken()) {
  <div class="new-chat-wrapper pl-1 pr-1">
    <button
      (click)="showCreateModal()"
      class="new-chat-button d-flex justify-center items-center"
    >
      <span>+</span>
    </button>
  </div>
  } @if(!showEmptyData) {
  <div class="chat-list-title pl-1">
    <h3>Chats</h3>
  </div>

  }
  <div class="chat-list overflow-auto">
    @if (showEmptyData) {
    <ng-container *ngTemplateOutlet="emptyData"></ng-container>
    } @else {
    <div *ngFor="let chat of filteredChats$; trackBy: trackByFn">
      <div
        class="chat-item d-flex items-center gap-05 border-bottom p-1 cursor-pointer"
        (click)="onSelectChat(chat)"
        [ngClass]="{
          'active-chat': localSelectedChat?.id === chat?.id,
          'pb-2': !showEmptyData
        }"
        (contextmenu)="onRightClick($event, chat)"
      >
        <app-user-avatar-placeholder
          [source]="chat.imagePath"
        ></app-user-avatar-placeholder>
        <div class="chat-info flex-grow text-overflow-ellipsis">
          <div class="chat-name d-flex fw-bold">
            <div class="mr-05">{{ chat?.firstName }}</div>
            <div>{{ chat?.lastName }}</div>
          </div>
          <div class="chat-last-message text-gray fs-085">
            {{ chat?.lastMessage?.text }}
          </div>
        </div>
        <div class="chat-date text-gray fs-075">
          {{ chat?.lastMessage?.createdAt | date : "MMM, d, y" }}
        </div>
      </div>
    </div>
    }
  </div>
</aside>

<ng-template #emptyData>
  <div
    class="empty-data d-flex justify-center items-center"
    [ngStyle]="{ height: '100%' }"
  >
    {{
      accessToken() ? "Chats list empty or not found" : "You are not logged in"
    }}
  </div>
</ng-template>

<app-chat-modal
  *ngIf="modalVisible"
  [mode]="modalMode"
  [chat]="localSelectedChat"
  (confirm)="handleConfirm($event)"
  (cancel)="modalVisible = false"
></app-chat-modal>

<app-context-menu
  [contextMenuVisible]="contextMenuVisible"
  [contextMenuPosition]="contextMenuPosition"
  (editChat)="editChatContextMenu()"
  (deleteChat)="deleteChatContextMenu()"
></app-context-menu>
