@use "./assets/styles/reset";
@use "./assets/styles/helpers";
@use "./assets/styles/variables" as *;

body {
    font-family: $font-base;
  }

button:disabled {
  background-color: $secondary !important;
}
