@use "./assets/styles/reset";
@use "./assets/styles/helpers";
@use "./assets/styles/variables" as *;
@use "./assets/styles/loader";

body {
  font-family: $font-base;
}

app-root {
  z-index: 1;
}
app-toast,
.toast-class {
  z-index: 2;
}

button:disabled {
  background-color: $secondary !important;
}

.empty-data {
  font-size: 20px;
}
