<div class="backdrop" (click)="onCancel()"></div>

<div class="modal">
  <ng-container *ngIf="!isForMessage; else messageTemplate">
    <h2 *ngIf="mode === 'create'">New Chat</h2>
    <h2 *ngIf="mode === 'edit'">Edit Chat</h2>

    <div
      *ngIf="mode === 'create' || mode === 'edit'"
      class="form d-flex flex-column"
    >
      <label for="firstName"> First Name: </label>
      <input
        id="firstName"
        maxlength="15"
        type="text"
        [formControl]="firstName"
      />
      <label for="lastName"> Last Name: </label>
      <input
        id="lastName"
        maxlength="15"
        type="text"
        [formControl]="lastName"
      />
    </div>
  </ng-container>

  <ng-template #messageTemplate>
    <h2>Edit Message</h2>
    <div
      *ngIf="mode === 'edit'"
      class="form d-flex flex-column"
    >
      <label for="message">Message:</label>
      <input
        id="message"
        type="text"
        [formControl]="message"
      />
    </div>
    <p *ngIf="mode === 'delete'">
      Are you sure you want to delete this message:
      <strong>{{ messageData?.text }}</strong>?
    </p>
  </ng-template>

  <p *ngIf="mode === 'delete' && !isForMessage">
    Are you sure you want to delete chat
    <strong>{{ chat?.firstName }} {{ chat?.lastName }}</strong>?
  </p>

  <div class="actions d-flex">
    <button class="full-width" (click)="onCancel()">Cancel</button>
    <button
      class="full-width"
      [disabled]="
        (mode === 'create' || mode === 'edit') &&
        (
          (!isForMessage && (!firstName.valid || !lastName.valid)) ||
          (isForMessage && !message.valid)
        )
      "
      (click)="onConfirm()"
    >
      {{ mode === "create" ? "Create" : mode === "edit" ? "Save" : "Delete" }}
    </button>
  </div>
</div>
